{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1><em>Start Snacking!</em></h1>
	{% for puzzle in puzzles %}
		<div><a class="puzzle" href="{% url 'puzzles.views.puzzle' puzzle.id %}"><em>&lt;{{puzzle.title}}&gt;</em><br /><small class="category">->{{puzzle.category.category_name}}</small></a></div>
	{% endfor %}
	
	<a href="#" class="puzzle more">&gt;&gt;More</a>
	<div class="muncher"><img src="{% static "assets/img/eat1.png" %}" /></div>
{% endblock %}

{% block scoreboard %}
	<h1><em>SnacMan</em></h1>
{% endblock %}