{% extends 'base.html' %}

{% block title %}
	{{puzzle.title}}
{% endblock %}

{% block content %}


<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>


{% endblock %}

{% block scoreboard %}	
		<p>{{puzzle.title}}</p>
{% endblock %}

