{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{puzzle.title}}
{% endblock %}

{% block content %}
	<input type="hidden" value="{{cell_id}}" id="cell_id" />
	<input type="hidden" value="{{row_size}}" id="row_size" />
	<input type="hidden" value="{{col_size}}" id="col_size" />
	{% for answer in answers %}
		<div class="cell">{{answer}}<br />
			<img class="muncher" id={{forloop.counter0}} style="display:none;" src="{% static "assets/img/eat1.png" %}" />
		</div>
	{% endfor %}
{% endblock %}

{% block scoreboard %}	
		<h2><em>{{puzzle.title}}</em></h2>
		<button class="nav_button" id="left">Left</button>
		<button class="nav_button" id="right">Right</button>
		<button class="nav_button" id="up">Up</button>
		<button class="nav_button" id="down">Down</button>
		<button id="munch">Munch!</button>
{% endblock %}

