{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{puzzle.title}}
{% endblock %}

{% block content %}
	<input type="hidden" value="{{bad_guy_id}}" id="bad_guy_id" />
	<input type="hidden" value="{{cell_id}}" id="cell_id" />
	<input type="hidden" value="{{row_size}}" id="row_size" />
	<input type="hidden" value="{{col_size}}" id="col_size" />
	<input type="hidden" value="{{puzzle.right_answers}}" id="right_answers" />
	<input type="hidden" value="{{puzzle.wrong_answers}}" id="wrong_answers" />

	{% for answer in answers %}
		<div class="cell"><span id="answer{{forloop.counter0}}">{{answer}}</span><br />
			<img class="muncher" id={{forloop.counter0}} style="display:none;" src="{% static "assets/img/eat1.png" %}" />
			<img class="bad_guy" id="{{forloop.counter0}}bad" style="display:none;" src="{% static "assets/img/ufo.jpg" %}" />
		</div>
	{% endfor %}
{% endblock %}

{% block scoreboard %}	
		<h2><em>{{puzzle.title}}</em></h2>
		
		<div id="progress">
			<div id="progress_bar"></div>
			<div id="num_to_win">{{num_correct}} to Win</div>
		</div>
		<div id="lives">
			<img class="life" id="life1" src="{% static "assets/img/eat1.png" %}" />
			<img class="life" id="life2" src="{% static "assets/img/eat1.png" %}" />
			<img class="life" id="life3" src="{% static "assets/img/eat1.png" %}" />
		</div>
		<div id="prizes">
			<img class="life" id="prize3" src="{% static "assets/img/circle.svg" %}" />
			<img class="life" id="prize3" src="{% static "assets/img/circle.svg" %}" />
			<img class="life" id="prize3" src="{% static "assets/img/circle.svg" %}" />
		</div>
		
{% endblock %}

