{% extends 'base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/puzzles.css" %}">
{% endblock %}

{% block content %}
	<h1><em>Start Snacking!</em></h1>
	{% for puzzle in puzzles %}
			<a class="puzzle" href="{% url 'puzzles.views.puzzle' puzzle.id %}"><em>{{puzzle.title}}</em><br />
				<small class="category">{{puzzle.category.category_name}}</small>
			</a>
	{% endfor %}
	{% if puzzles_left > puzzles_on_page %}
		<a href="{% url 'puzzles.views.puzzles' next_position %}" class="puzzle more"><h4>More Puzzles &gt;&gt;</h4></a>
	{% else %}
		<a href="{% url 'puzzles.views.puzzles' orig_position %}" class="puzzle more"><h4>&lt;&lt;Back to List</h4></a>
	{% endif %}
{% endblock %}
