*{
			box-sizing: border-box;
}

body{
	background-color: black;
  font-style: bold;
  color: #5dfc0a;
  word-wrap: break-word;
  font-family:"Century Gothic", Arial, "Courier New", Sans-Serif;
}

#page{
	width: 500px;
	height: 700px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: gray;
}

#scoreboard{
	top:500px;
	height:200px;
	width:500px;
	text-align:center;
}

.cell{
	width: 125px;
	height: 125px;
	background-color: #222;
	border: 1px dotted blue;
	position: relative;
	float:left;
	text-align: center;
	}

	img{
		width:50px;
		height:50px;
		margin-top:15px;
	}