*{
			box-sizing: border-box;
}

body{
	background-color: black;
  font-style: bold;
  color: #5dfc0a;
  word-wrap: break-word;
  font-family:"Andale Mono", Terminal, Monaco, monospace;
}

#page{
	width: 500px;
	height: 700px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #222;
	border-radius: 20px;
}

#content{
	width:500px;
	height:500px;
	text-align: center;
}

#scoreboard{
	float:left;
	height:200px;
	width:500px;
	text-align:center;
	background-color: #111;
	border-radius: 20px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}

.cell{
	width: 125px;
	height: 125px;
	background-color: #222;
	border: 1px dotted blue;
	float:left;
	text-align: center;
	border-radius: 2px;
	font-family: "Century Gothic", Arial, "Courier New", Sans-Serif;
	}

	.puzzle{
		background-color: #5dfc0a;
		color:#111;
		margin: 10px 10px 10px 10px;
		border-radius:10px;
		float:left;
		padding:5px;
		border-style:outset;
		border-color:#444;
		font-family: "Century Gothic", Arial, "Courier New", Sans-Serif;
	}

	a{
		text-decoration:none;
	}

	.more{
		background-color: #08A2DE;
		margin:25px 10px 20px 5px;
		float:right;
	}

	small.category{
		color:blue;
	}

	img{
		width:50px;
		height:50px;
		margin-top:15px;
	}

	div.muncher > img{
		width:75px;
		height:75px;
		margin-top:50px;
		float: left;
	}