.cell{
  width: 125px;
  height: 125px;
  background-color: black;
  border: 1px dotted blue;
  float:left;
  text-align: center;
  border-radius: 2px;
  font-family: "Century Gothic", Arial, "Courier New", Sans-Serif;
}

.progress{
	float:left;
}

.time{
	float:right;
}

#progress{
		height:125px;
		width:100px;
		position:relative;
	}
	
#progress_bar, #lack_of_progress_bar, #time_bar, #lack_of_time_bar{
	width:40px;
	margin: 0px 5px 20px 17px;
	border-radius: 2px;
	position:absolute;
	bottom:0;
	border:1px solid gray;
	height: 160px;
}

#lack_of_progress_bar, #lack_of_time_bar{
	background-color: red;
}

#progress_bar, #time_bar{
	z-index: 1;
	background-color:#5dfc0a;
}

#progress_bar{
	height:0px;
}

#num_to_win, #time_left{
	color:#111;
	height:17px;
	width:75px;
	border-radius:10px;
	background-color: #5dfc0a;
	font-family: Arial, Monaco, monospace;
	float:left;
	position:absolute;
	bottom:0;
}

#time{
		height:65px;
		width:77px;
		position:relative;
		float:right;
	}

.nav_button, .munch_button{
	float:left;
	width:60px;
	height:20px;
	margin:10px;
	background-color: #5dfc0a;
	border-radius: 10px;
	color:#111;
}

#munch{
	float:right;
}

#lives, #prizes{
	margin:auto;
	width:275px;
	height:60px;
	float:left;
}

#prizes{
	margin-bottom: 10px;
}

.life{
	float:left;
	margin:10px 10px 10px 30px;
}