.puzzle{
	background-color: #5dfc0a;
	color:#111;
	margin:5px 10px 5px 5px;
	width:150px;
	height:75px;
	border-radius:10px;
	float:left;
	padding:5px;
	border-style:outset;
	border-color:#444;
	font-family: "Century Gothic", Arial, "Courier New", Sans-Serif;
	position:relative;
}

.more{
	background-color: #08A2DE;
	margin:auto;
	float:left;
	margin:5px;
}

small.more{
	background-color: #08A2DE;
	margin:auto;
	float:left;
}

small.category{
	color:blue;
	position:absolute;
	bottom:0;
	float:right;
}