{% load static %}
<!DOCTYPE html>

<html lan="en">

<head>
	<title>{% block title %} snacMan {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
	{% block styles %}
	{% endblock %}
</head>

<body>

	<div id="page">
		<div id="content">
			{% block content %}

			{% endblock %}
		</div>

		<div id="scoreboard">
			{% block scoreboard %}
				<h1><em>SnacMan</em></h1>
				<div class="muncher"><img src="{% static "assets/img/eat1.png" %}" /></div>
				{% if user.is_authenticated %}
					<div class="logout">
						<a href="{% url 'snacMan.views.logout' %}">Logout</a>
					</div>
				{% endif %}

			{% endblock %}

		</div>
	</div>
	<img src="http://www.googlefacebooktwitter.com/img/eat/eat1.png" style="display: none;" />
  <img src="http://www.googlefacebooktwitter.com/img/eat/eat2.png" style="display: none;" />
  <img src="http://www.googlefacebooktwitter.com/img/eat/eat3.png" style="display: none;" />
  <img src="http://www.googlefacebooktwitter.com/img/eat/eat4.png" style="display: none;" />
  <img src="http://www.googlefacebooktwitter.com/img/eat/eat5.png" style="display: none;" />
  <img src="http://www.googlefacebooktwitter.com/img/eat/eat6.png" style="display: none;" />
  <img src="http://www.googlefacebooktwitter.com/ufo_blue.jpg" style="display: none;" />
	<script type="text/javascript" src="{% static "assets/js/jquery-2.0.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/snacMan.js" %}"></script>
</body>

</html>