{% extends 'base.html' %}
{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}">
{% endblock %}

{% block content %}
<h1>Hello, World</h1>
{% if logout %}
	<h2>Logged Out</h2>
{% endif %}
<div class="buttons">
<div id="register"><h4><em><a href="{% url 'snacMan.views.register' %}">Register</a></em></h4></div>
<div id="play"><h4><em><a href="{% url 'puzzles.views.puzzles' %}">Play</a></em></h4></div>
<div id="login"><h4><em><a href="{% url 'snacMan.views.login' %}">Login</a></em></h4></div>
</div>
{% endblock %}

